   body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #blue; /* Set your desired background color */
        }

        .container {
            text-align: center;
            margin-top: 50px;
            color: white;
        }

        form {
            margin-bottom: 20px;
        }

        #status {
            color: white;
        }

        h2 {
            color: white;
        }

        button {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }
